@font-face {
  font-family: Purista;
  src: url("Purista_Medium.otf") format("opentype");
}

* {
  font-family: Purista;
}

a {
  color: black;
  text-decoration: none;
}
.info {
  text-align: center;
}

.App-header {
  background-color: #ff0000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40pt;
  color: white;
  font-family: Purista;
}
.h {
  font-family: Purista;
  text-align: center;
  font-size: 22pt;
}

.timeStamp {
  font-weight: bold;
  font-size: 15pt;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding-left: 10px;
  padding-right: 10px;
}
article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 90%;
}
article > div {
  padding-bottom: 10px;
}
article > div > span {
  font-weight: bold;
}
